.dark-theme {
    --bg: #1f2937;
    --bg-active: #111827;
    --white: white;
    --black: black;
  }
  .light-theme {
    --bg: #f3f4f6;
    --bg-active: #d1d5db;
    /* --bg: #d1d5db; */
    --white: black;
    --black: white;
  }
  * {
    transition: all 0.3s ease-in-out;
    color: var(--white);
  }
  nav > ul {
    background-color: var(--bg);
    color: var(--white);
  }
  .material-symbols-outlined {
    color: var(--white);
  }
  .avatar {
    background-color: var(--white);
  }
  .active {
    background-color: var(--bg-active);
  }
  .navlink {
    border: solid 1px transparent;
  }
  .navlink:hover {
    border: solid 1px var(--white);
  }
  .nav-menu {
    background-color: var(--bg);
    color: var(--white);
  }
  .show-menu {
    display: flex;
    /*   transform: translateY(0) scaleX(100) scaleY(100); */
  }
  